.wrapper_paginate {
    margin-top: 20px;
    
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        margin: 0;

        li {
            margin-right: 10px;
            padding: 15px 20px;
            border-radius: 50%;
            background: rgb(216, 216, 216);
            font-family: 'Roboto';
            font-weight: bold;
            line-height: 23px;
            
            a {
                text-decoration: none;
                color: rgba(0,0,0,0.6);
            }
        }
    }
}