.request_item {
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 30px;
  padding-bottom: 20px;

  .request_item_border {
    width: 95%;
    height: 1px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 25px;
    background: rgba(0,0,0,0.2);
  }

  button {
    width: 100%;
    padding: 5px 0;
    margin: 10px 15px;
    margin-bottom: 0;
    border: none;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'Poppins';
    color: #8264be;
    border-radius: 5px;
    border: 1px solid #8264be;
    background: white;
    transition: all .2s ease;

    &:hover {
      color: white;
      background: #8264be;
      transition: all .2s ease;
    }
  }
}

//Ipad Pró
@media(max-width: 1024px) {
  .request_item {  
    .request_item_border {
      margin-top: 5px;
      margin-bottom: 20px;
    }
  
    button {
      padding: 5px 0;
      font-size: 16px;
      margin: 5px 15px;
    }
  }
}

//Ipad Pró
@media(max-width: 480px) {
  .request_item {    
    button {
      padding: 3px 0;
      font-size: 15px;
    }
  }
}