//Introdution
.wrapper_home_introdution {
  background: #9370db;

  img {
    border-radius: 50%;
  }

  h3 {
    font-size: 60px;
    color: white !important;
    letter-spacing: 1px;
    margin: 10px 0;
    font-family: 'Karla', sans-serif;
  }

  span {
    img {
      width: 30px;
      height: 30px;
      color: white;
      margin: 15px 6px;
    }
  }
  
  /*Traces of stars*/
  .divider-custom {
    margin: 0.3rem 0 1rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
  }
  
  .divider-custom.divider-light .divider-custom-icon {
    color: #fff !important;
  }
  
  .divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50 !important;
  }
}

//Ipad Pró
@media(max-width: 1024px) {
  .wrapper_home_introdution{
    //Introdution title
    h3 {
      font-size: 50px !important;
      margin: 15px 0;
    }
  }
}

//Celphone
@media(max-width: 480px) {
  .wrapper_home_introdution {
    //Introdution title
    h3 {
      font-size: 28px !important;
      padding: 0 20px;
    }
  }

  /*Traces of stars*/
  .divider-custom .divider-custom-line {
    max-width: 4.5rem !important;
  }

  // Stars
  span {
    img {
      width: 25px !important;
      height: 25px !important;
      color: white;
      margin: 10px 6px;
    }
  }
}
