.wrapper_set_image {
  margin-top: 250px;
  .wrapper_dropzone {
    padding: 25px 30px;
    background: #9470dbe0;
    border-radius: 10px;
    max-width: 450px;
    margin: 0 auto;

    .wrapper_drop_container {
      cursor: pointer;
      border: 2px dashed white;
      border-radius: 5px;
      padding: 10px;
      text-align: center;

      &.drag_acctive {
        border-color: #88f1e0;
      }

      &.drag_reject {
        border-color: #e23838;
      }

      p {
        margin: 10px 0;
        margin-bottom: 15px;
        font-size: 20px;
      }

      .message_dropzone_error {
        color: #e23838;
      }

      .message_dropzone_default {
        color: white;
      }

      .message_dropzone_success {
        color: #88f1e0;
      }
    }
  }
}
