//AdminProductsItem
.wrapper_product_admin_item {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;

    .content {
        margin-top: 30px;
    }
}