@import url("https://fonts.googleapis.com/css?family=Karla|Open+Sans|Poppins|Questrial|Roboto&display=swap");

//Paragrath
$font_poppins: "Poppins";
//Navlink
$font_roboto: "Roboto";
//Subtitles/<p>
$font_open: "Open Sans";
//Title
$font_questial: "Questrial";
//Title introdution
$font_karla: "Karla", sans-serif;

$base_purple: #9370db;
$light_black: rgba(0, 0, 0, 0.2);
$black_title: #464545;
$grey: #808080;

$base_padding: 40px;

.border {
    border: 2px solid red !important;
}

body {
    word-break: break-all;
    overflow-x: hidden;
}

.root {
    overflow-x: hidden !important;
}

input,
textarea {
    outline: 0 !important;
    box-shadow: none !important;
    border: none !important;
}

//Alert confirm

.react-confirm-alert-body {
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    padding: 30px;
    text-align: left;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
    color: #666;
}

.react-confirm-alert-body > h1 {
    margin-top: 0;
}

.react-confirm-alert-body > h3 {
    margin: 0;
    font-size: 16px;
}

.react-confirm-alert-button-group > button {
    background: #9370db !important;
    font-size: 14px;
    letter-spacing: 1px;
    font-size: "Roboto";
    transition: all 0.3s ease;

    &:hover {
        background: white !important;
        border: 1px solid #9370db !important;
        color: #9370db !important;
        transition: all 0.3s ease;
    }

    &:nth-child(1) {
        transition: all 0.3s ease;
        background: white !important;
        border: 1px solid #9370db !important;
        color: #9370db !important;

        &:hover {
            transition: all 0.3s ease;
            background: #9370db !important;
            color: white !important;
        }
    }
}

//Celphone
@media (max-width: 480px) {
    .react-confirm-alert-body {
        width: 300px;
    }

    .react-confirm-alert-body > h1 {
        font-size: 30px;
    }

    .react-confirm-alert-button-group > button {
        font-size: 13px;
    }
}
