.head_admin {
    padding-left: 5px;
    margin: 50px 25px 30px 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

//Ipad Pró
@media (max-width: 1024px) {
    .head_admin {
        margin: 50px 10px 30px 10px;
    }
}

//Ipad
@media (max-width: 768px) {
    .head_admin {
        padding-left: 5px;
        margin: 40px 0px 20px 0px;
    }
}

//Celphone
@media (max-width: 480px) {
    .head_admin {
        margin: 40px 0px 20px 0px;
    }
}
